.bio{
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 150px;
    margin-bottom: 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.HeadBar{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.class{
    display: flex;
    
}